:root {
  --color-primary: rgb(167, 34, 34);
  --color-primary-container: rgb(167, 34, 34);
  --color-on-primary: white;
  --color-secondary: rgb(94, 25, 25);
  --color-secondary-container: rgb(94, 25, 25);
  --color-on-secondary: white;
  --color-surface: rgb(20, 20, 20);
  --color-surface-container: rgb(30, 30, 30);
  --color-surface-bright: rgb(40, 40, 40);
  --color-on-surface: white;
  --color-on-surface-variant: rgb(100, 100, 100);
  --color-outline: rgb(100, 100, 100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}



